
        .body-initial {
            background-color: rgb(38, 38, 38); 
        }
        .silex-id-1474394621033-3 {
            min-height: 600px; 
            top: 5px; 
            left: 0px; 
        }
        .silex-id-1474394621032-2 {
            min-height: 100px; 
            background-color: rgb(255, 255, 255); 
        }
        .silex-id-1477868272363-1 {
            min-height: 936px; 
            width: 638px; 
            top: 110px; 
            left: 170px; 
        }
        .silex-id-1477868202746-0 {
            min-height: 82px; 
            width: 812px; 
            top: 9px; 
            left: 166px; 
        }
    